body{
    font-family: "Comic Relief", system-ui;
    color: #B56BE3;
    margin: 0;
}

/* estilos estructura:  2 columnas, 1 mas pequeña para el menu lateral y el resto para la disposicion de los productos
a su vez estara dividida en 3 filas: una corresponde al encabezado otra al main y la restante al footer*/

.grid-container{ 
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
}

/*el header y el footer ocuparan las 2 columnas, es decir el ancho de la pantalla y tendran una altura de 180px*/
header, footer{
    grid-column: 1 / 3;
    width: 100%;
    height: 11.25rem;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B56BE3;
}

header nav{
    width: 100%;
    padding: 1rem;
}

footer{
    background-color: #B56BE3;
}

/*SECCION PRODUCTOS */
#seccion-productos{
    grid-column: 1 / 2;
    margin-left: 0px;
}

#seccion-galeria{
    grid-column: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-left: 2rem;
    width: 100%;
}


/*estilos del header*/
.item-logo{
    margin: 10px;
}

.flex-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    font-size: 1.25rem;
    width: 90%;
}

.flex-menu li a{
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease;
}

.flex-menu li :hover{
    color: indigo;
    transform: scale(1.3);
}

/*estilos de la galeria*/

.producto{
    width: 12rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ddc8eb;
}

.producto img{
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    width: 10rem;
}

.descripcion-prod{
    position: absolute;
    bottom: 0.5rem;
    font-size: 0.8rem;
    color: #471e61;
    margin-left: 0.3rem;
    text-align: center;
}

#boton-agregar{
    border: #B56BE3;
    border-radius: 5px;
    color: #471e61;
    height: 25px;
}

#boton-agregar:hover{
    cursor: pointer;
    background-color: #c2a9d1;
    transition: 0.8s;
}

/*estilos menu lateral productos
¡¡¡¡¡¡¡en construccion !!!!!!!*/
ul{
    list-style: none;
}

.marca li a{
    background-color: #B56BE3;
    color: #ffffff;
    width: 150px;
    text-decoration: none;
    padding: 5px 1px;
    margin-top: 1px;
    display: block;
}

.marca > li{  /*ubica cada submenu debajo del menu correspondiente*/
    float: left;
}

.marca li a:hover{
    background-color: blueviolet;
}

.marca li ul{  /*desaparece los submenu*/
    display: none;
    position: absolute; /*para que mantenga su posicion y no se desplace*/
}

.marca li:hover >ul{ /*aparece los submenu al pasar el mouse por encima del menu */
    display: block;
    left: 0.5rem;
    z-index: 25;
}

.marca li ul li{  /*para que el submenu fragancia se desplace al menu correspondiente (contenedor)*/ 
    position: relative;
}

.marca li ul li ul{ /*para desplegar el submenu de las fragancias al lado del producto */ 
    right: -150px;
    top: 0px;
}

/*footer*/
.foot{
    padding: 20px;
    color: #ffffff;
}

.foot i{
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .grid-container{
        grid-template-columns: 1fr;
    }

    .flex-menu{
        flex-direction: column;
        gap: 0.5rem;
    }
}
